<html>
    <head>

        <title>Link to QR</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 

    </head>

    <body>
        <div class="bro">

            <h1>Link to QR</h1><br>
            
            <form action="" method="post">
                <input class="link" name="link" placeholder="Input a link">
            </form>

        </div>

        <a download="myqr.png" href="{{ url_for('static', filename='images/some_file.png') }}"><img src="{{ url_for('static', filename='images/some_file.png') }}" class="qr"></a>

    </body>